:host {
    display:block;
    width:calc(100% - 100px);
    margin: 0px 50px;
}

:host ce-button {
    padding:0px 10px;
    background-color:rgb(9,175,2);
    --border-color:rgb(9,175,2);
    --color:#fff;
    width:calc(100% - 22px);
    font-weight:800;
}