:host {
    display:block;
    background-color:rgba(0,0,0,0.65);
    padding:25px;
    width: calc(100% - 150px);
    color:#fff;
    margin: 0px 50px;
    max-width:600px;
    
}

* {
    margin:0;
    padding:0;
}

h2 {
    margin:0 0 20px 0px;
}

.body {
    color:rgb(9,175,2);
    font-weight:800;
}

p {
    margin: 1em 0;
}

:host ce-button {
    padding:0px 10px;
    background-color:rgb(9,175,2);
    --border-color:rgb(9,175,2);
    --color:#fff;
    width:calc(100% - 20px);
    font-weight:800;
}

p.final-note {
    width:100%;
    text-align:center;
}

@media screen and (min-width: 750px) {
    :host {
        margin:0 auto;
    }
}