:host {
    display:block;
    color:#000;
}

h2 {
    text-align:center;
    font-size:1.875em;
    color:rgb(233,77,37);
}

p {
    text-align:center;
}

img {
    display:block;
    margin: 0 auto;
    width:38.6%;
    height:25.4%;
}

div {
    display:inline-block;
    margin:0px 50px;
}