/*https://stackoverflow.com/questions/2504071/how-do-i-combine-a-background-image-and-css3-gradient-on-the-same-element*/

:host {
    display: block;
    background-image: url('src/images/red-vehicle.png');  
    background-repeat: no-repeat;
    background-size:cover;  
    padding-bottom:40px;
    min-height:calc(100vh - 40px);
}

ce-header {
    margin: 0px 25px 25px 25px;
}

ce-call-to-action {
    margin:0 auto;
}
