:host {    
    background-image: url('src/images/red-vehicle.png');  
    background-repeat: no-repeat;
    background-size:cover;  
    background-position-x:center;
    background-position-y:center;
    display: block;
    min-height:calc(100vh - 40px);
    padding:0px 0px 40px 0px;    
}

ce-header {
    margin: 0px 25px 25px 25px;
}

ce-call-to-action {
    margin:0 auto;
}
