<ce-mega-header [headline1]="vm.header.heading1"
                [headline2]="vm.header.heading2"
                [headline]="vm.callToAction.headline"
                [body]="vm.callToAction.body"
                [buttonCaption]="vm.callToAction.buttonCaption"
                [callToAction]="vm.callToAction.callToAction"
                [finalNote]="vm.callToAction.finalNote">
</ce-mega-header>
<ce-content-block [headline1]="vm.contentBlock.heading1"
                  [imageUrl]="vm.contentBlock.imageUrl"
                  [body]="vm.contentBlock.htmlContent"></ce-content-block>
<ce-add-contact-form (onSubmit)="tryToSaveContact($event)"></ce-add-contact-form>